<div class="user-list">
  <div class="container">
    <div class="user-list-bar">
      <div class="list">總  覽<span class="glyphicon glyphicon-triangle-bottom"></span></div>
      <div class="list">數位資產<span class="glyphicon glyphicon-triangle-bottom"></span></div>
      <div class="list">遺產規劃<span class="glyphicon glyphicon-triangle-bottom"></span></div>
      <div class="list">葬禮安排<span class="glyphicon glyphicon-triangle-bottom"></span></div>
      <div class="list">法律金融<span class="glyphicon glyphicon-triangle-bottom"></span></div>
      <div class="list">健康醫療<span class="glyphicon glyphicon-triangle-bottom"></span></div>
    </div>
  </div>
</div>

<div class="user-arrangement">
  <div class="container text-center">
    <div class="row">
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
      <div class="choose col-md-3 col-sm-12">
        <div class="choose-btn">
          <%= image_tag("icons.png", :alt => "" , :class => "preview" ) %>
          <p>寵物</p>
          <div class="choose-focus"></div>
        </div>
      </div>
    </div>
  </div>
</div>
  