	
<div class="container2 text-center ">
	<p>
		本人 <%= @user.name %>, <%= @gender %>, 民國<%= @user.birthday%>生, 身分證號碼 [xxxx]， 茲依民國民法相關要求，特此遺囑如下


	</p>
	<h4>
		不動產部分
	</h4>
	<% @properties.each do |property| %>
		<p>
			本人遺產中，位於 <%= property.address %>, 由 <%= property.heirs.name %> 繼承
		</p>
	<% end %>

	<h4>動產部分</h4>
	<p>
		
		本人名下的其他遺產於扣除所有遺贈、稅捐、 喪葬和規費後，全由繼承人平均繼承。
		此遺囑可由本人以書面撤回。
	</p>
	<p>

		本遺囑一式一份，由本人保管一份，其餘0份由遺囑執行人000保管，並據以辦理繼承相關事項。
	</p>
	<p>
		立遺囑人: ¬¬¬¬¬¬[xx]
		立遺囑人簽署： 
		中華民國00年0月0日

		※其他交代：器官捐贈、保險箱、遺囑存放處、身後奉獻、是否委託律師。

	</p>
</div>