<div id="<%= action_name%>">
  <div class="person container text-center">
    <div class="row">
      <h2>個人資產</h2>
      <p>請問您有特別要留下的實體資產給特定的人嗎？</p>
      <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="choose">
          <%= radio_button_tag(:choose, "ok") %>
          <label class="default-ok" for="choose_ok"></label>
          <div class="choose-type">有</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="choose">
          <%= radio_button_tag(:choose, "no") %>
          <label class="default-no" for="choose_no"></label>
          <div class="choose-type">沒有</div>
        </div>
      </div>
    </div>
  </div>

  <div class="wish container text-center">
    <p>請問您想要留下什麼實體資產？</p>
    <div class="row">
      <div class="col-md-2">
        <div class="wishs">
          <%= radio_button_tag(:wish, "property") %>
          <label class="asset property" for="wish_property"></label>
          <div class="wish-type">房產</div> 
        </div>
      </div>
      <div class="col-md-2">
        <div class="wishs">
          <%= radio_button_tag(:wish, "stock") %>
          <label class="asset stock" for="wish_stock"></label>
          <div class="wish-type">股票帳號</div> 
        </div>
      </div>
      <div class="col-md-2">
        <div class="wishs">
          <%= radio_button_tag(:wish, "account") %>
          <label class="asset account" for="wish_account"></label>
          <div class="wish-type">銀行現金</div> 
        </div>
      </div>
      <div class="col-md-2">
        <div class="wishs">
          <%= radio_button_tag(:wish, "motor") %>
          <label class="asset motor" for="wish_motor"></label>
          <div class="wish-type">汽車/機車</div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="wishs">
          <%= radio_button_tag(:wish, "jewelry") %>
          <label class="asset jewelry" for="wish_jewelry"></label>
          <div class="wish-type">珠寶/首飾</div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="wishs">
          <%= radio_button_tag(:wish, "other") %>
          <label class="asset other" for="wish_other"></label>
          <div class="wish-type">其他</div>
        </div>
      </div>
    </div>
  </div>
</div>