<div id="slider">
  <%= form_for @user , :url => save_slider_user_path(@user) do |f| %>
    <ul>
      <li>
        <div class="form-group question-words">
          <label class="question"><p>您有不動資產嗎？</p></label>
        </div>
        <div class="form-group btn">
           <label class="question-btn"><%= f.radio_button :tangible_asset , 'false' %><span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor:pointer"><br>不是</span></label>
          <label class="question-btn"><%= f.radio_button :tangible_asset , 'true' %><span class="glyphicon glyphicon-ok" aria-hidden="true" style="cursor:pointer"><br>是</span></label>
        </div>
        <div class="clearfix"></div>
      </li>
      <li>
        <div class="form-group question-words">
          <label class="question"><p>您有無形資產嗎？</p></label>
        </div>
        <div class="form-group btn">
           <label class="question-btn"><%= f.radio_button :intangible_asset , 'false' %><span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor:pointer"><br>不是</span></label>
          <label class="question-btn"><%= f.radio_button :intangible_asset , 'true' %><span class="glyphicon glyphicon-ok" aria-hidden="true" style="cursor:pointer"><br>是</span></label>
        </div>
        <div class="clearfix"></div>
      </li>
      <li>
        <div class="form-group question-words">
          <label class="question"><p>您有個人物品嗎？</p></label>
        </div>
        <div class="form-group btn">
           <label class="question-btn"><%= f.radio_button :personal_item , 'false' %><span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor:pointer"><br>不是</span></label>
          <label class="question-btn"><%= f.radio_button :personal_item , 'true' %><span class="glyphicon glyphicon-ok" aria-hidden="true" style="cursor:pointer"><br>是</span></label>
        </div>
        <div class="clearfix"></div>
      </li>
      <li>
         <div class="form-group question-words">
          <label class="question"><p>希望自己安排自己的葬禮嗎？</p></label>
        </div>
        <div class="form-group btn">
           <label class="question-btn"><%= f.radio_button :afterlife_service , 'false' %><span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor:pointer"><br>不是</span></label>
          <label class="question-btn"><%= f.radio_button :afterlife_service , 'true' %><span class="glyphicon glyphicon-ok" aria-hidden="true" style="cursor:pointer"><br>是</span></label>
        </div>
        <div class="clearfix"></div>
      </li>
      <li>
         <div class="form-group question-words">
          <label class="question"><p>您有數位資產嗎？</p></label>
        </div>
        <div class="form-group btn">
           <label class="question-btn"><%= f.radio_button :digital , 'false' %><span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor:pointer"><br>不是</span></label>
          <label class="question-btn"><%= f.radio_button :digital , 'true' %><span class="glyphicon glyphicon-ok" aria-hidden="true" style="cursor:pointer"><br>是</span></label>
        </div>
      </li>
    </ul> 
    <%= f.submit %>
  <% end %> 
</div>




<script>
  jQuery(document).ready(function ($) {
  
  var slideCount = $('#slider ul li').length;
  var slideWidth = $('#slider ul li').width();
  var slideHeight = $('#slider ul li').height();
  var sliderUlWidth = slideCount * slideWidth;
  
  $('#slider').css({ width: slideWidth, height: slideHeight });
  
  $('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
  
    $('#slider ul li:last-child').prependTo('#slider ul');

    function moveLeft() {
        $('#slider ul').animate({
            left: + slideWidth
        }, 200, function () {
            $('#slider ul li:last-child').prependTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    function moveRight() {
        $('#slider ul').animate({
            left: - slideWidth
        }, 200, function () {
            $('#slider ul li:first-child').appendTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    $('p.control_prev').click(function () {
        moveLeft();
    });

    $('p.control_next').click(function () {
        moveRight();
    });

    $('input[type=radio]').click(function(){
        moveRight();
    });

    $('#user_digital_true').click(function(){
      $('input[type=submit]').click();
    });

    $('#user_digital_false').click(function(){
      $('input[type=submit]').click();
    });

  });  



</script>