<div class="col-md-12 form-group">
  <%= f.label "描述" %>
  <%= f.text_field :heir , :class => 'form-control text-center' , placeholder: "請描述特徵或地址" %>
</div>
<div class="form-group col-md-12 form-select">
  <%= label_tag(:f, "資產指定給誰") %> <br>
  <div class="col-md-3 col-sm-3">
    <%= select_tag "heir", options_for_select([ "家屬", "配偶", "朋友" ], "家屬") %>
  </div>
  <div class="col-md-9 col-sm-9">
    <%= f.text_field :heir , :class => 'form-control text-center' , placeholder: "請輸入接受人的姓名" %>
  </div>
</div>
<% unless @stock_portfolio.new_record? %>
  <div class="col-md-12 form-group text-center">
    <%= link_to will_property_path(@will , property) , :method => :delete , :remote => true do %>
      <label class="border-radius wish-btn"><span class="glyphicon glyphicon-minus"></span>移除此資產</label>
    <% end %>
  </div>
<% end %>
<div class="col-md-12 form-group">
  <%= f.submit :class => "submit" %>
</div>
