<div class="container">
	<h1>個人資料</h1>
	<%= form_tag({method: :key => "value", post},{class: "form-group info"}) do %>
		<div class="col-md-6 form-group">
			<%= label_tag(:f, "請問您的姓名") %> <br>
			<%= text_field_tag(:f, nil, class: "form-control text-center", placeholder: "請輸入你的真實姓名")%>
		</div>
		<div class="form-group col-md-8">
			<%= label_tag(:f, "請問您的生日") %> <br>
			<%= date_select(:f, "written_on", order: [:month, :day, :year], class: "date") %>
		</div>
		<div class="form-group col-md-6">
			<%= label_tag(:f, "請問您的性別") %> <br>

			<label class= "gender-button">
				<%= radio_button_tag(:gender, "Male") %>
				<label class="male-label" for="gender_Male">
					<div class="gender-type">男生</div>
				</label>
			</label>

			<label class= "gender-button">
				<%= radio_button_tag(:gender, "Female") %>
				<label class="female-label" for="gender_Female">
					<div class="gender-type">女生</div>	
				</label>
			</label>

		</div>
		<div class="form-group col-md-8">
			<%= submit_tag "下一步", class: "submit"%>
		</div>
	<% end %>

</div>

<script>


	// $('.gender-button-female').click(function(){
	// 	if ($(this).hasClass("collapsed-female")){
	// 		$(this).addClass("selected-female").removeClass("collapsed-female");
	// 		$('.gender-button-male').addClass("collapsed-male").removeClass("selected-male")
	// 	}
	// });

	$('')
</script>