<div class="container">
	<h1>個人資料</h1>
	<%= form_tag({method: :post},{class: "form-group info"}) do %>
		<%= label_tag(:f, "請問您的姓名") %> <br>
		<%= text_field_tag(:f, nil, class: "form-control", placeholder: "請輸入你的真實姓名")%> <br>
		<%= label_tag(:f, "請問您的生日") %> <br>
		<%= date_select("f", "written_on", order: [:month, :day, :year], class: "date") %>

	<% end %>
</div>