<!DOCTYPE html>
<html>
  <head>
    <title>Pease</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.WebRTC-Experiment.com/MediaStreamRecorder.js"></script>

    <!-- for Edige/FF/Chrome/Opera/etc. getUserMedia support -->
    <script src="https://cdn.WebRTC-Experiment.com/gumadapter.js"></script>

    <!-- <link rel="stylesheet" href="https://cdn.webrtc-experiment.com/style.css"> -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="author" type="text/html" href="https://plus.google.com/+MuazKhan">
    <meta name="author" content="Muaz Khan">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div id="header">
      <div class="container">
        <div id="logo">
          <%= image_tag("logo.png", :alt => "") %>
        </div>
      
        <nav>
          <ul class="list-inline" class="text-capitalize">
            <% if current_user.try(:will) %>
              <li><%= link_to '預立遺囑', preview_will_path(current_user.will.id) %></li>
              <li><%= link_to '預立遺言' , words_will_path(current_user.will.id) %></li>
              <li><%= link_to "預約律師", lawyer_user_path(current_user) %></li>
              <li><a href="">合作夥伴</a></li>
              <li><%= image_tag("AppointmentReminders000000100.png", :alt => "") %></li>
              <li>
                <% if current_user %>
                    <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
                    <li><%# link_to('修改密碼', edit_registration_path(:user)) %></li>
                <% else %>
                    <li><%= link_to('註冊', new_registration_path(:user)) %></li>
                    <li><%= link_to('登入', new_session_path(:user)) %></li>
                <% end %>
              </li>
            <% else %>
              <li><a href="">預立遺囑</a></li>
              <li><a href="">預立遺言</a></li>
              <li><a href="">預約律師</a></li>
              <li><a href="">合作夥伴</a></li>
              <li><%= image_tag("AppointmentReminders000000100.png", :alt => "") %></li>
              <li>
                <% if current_user %>
                    <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
                    <li><%# link_to('修改密碼', edit_registration_path(:user)) %></li>
                <% else %>
                    <li><%= link_to('註冊', new_registration_path(:user)) %></li>
                    <li><%= link_to('登入', new_session_path(:user)) %></li>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>

    <div class="write text-center">
      <h2>嗨！<%= current_user.try(:name) %></h2>
      <h2>提早立遺囑，是件健康且負責任的事</h2>
    </div>

    <div class="user">
      <div class="container">
        <div class="user_avatar">
          <%= image_tag("Circled_User_Male_000000_100.png", :alt => "" , :class => "circle") %>
        </div>
        
        <div class="user_name">
          <h3>&nbsp;<%= current_user.try(:name) %></h3>
        </div>

        <div class="user_bar">
          <ul class="list-inline">
            <% if current_user.try(:will) %>
              <li>
                <%= link_to wills_path do %>
                  <span class='glyphicon glyphicon-user'></span>個人資料
                <% end %>
              </li>
              <li>
                <%= link_to suggestion_user_path(current_user) do %>
                  <span class='glyphicon glyphicon-book'></span>推薦問題項目<span class="badge"><%= current_user.amount_question() %></span>
                <% end %>
              </li>
              <li class="right">
                <%= button_to users_path , :class => "btn btn-default notarization" do %>
                  <%= image_tag("Preview Pane_000000_100.png", :alt => "" , :class => "preview" ) %> 公證遺囑
                <% end %>
              </li>
            <% else %>
              <li>
                <a href=""><span class='glyphicon glyphicon-user'></span>個人資料</a>
              </li>
              <li>
                <a href="">
                  <span class='glyphicon glyphicon-book'></span>推薦問題項目<span class="badge">0</span>
                </a>
              </li>
              <li class="right">
                <%= button_to users_path , :class => "btn btn-default notarization" do %>
                  <%= image_tag("Preview Pane_000000_100.png", :alt => "" , :class => "preview" ) %> 公證遺囑
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>


    <div id="footer">
      <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div class="word-link">
            <nav>
              <ul class="list-inline" class="text-capitalize">
                <li><a href="">© 2016 Pease</a></li>
                <li><a href="">關於Pease</a></li>
                <li><a href="">常見問題</a></li>
                <li><a href="">團隊成員</a></li>
                <li><a href="">加入我們</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="img-link">
            <nav>
              <ul class="list-inline" class="text-capitalize">
                <li class='fb'><a href="https://www.facebook.com/Pease-320641804987691/?fref=ts"><%= image_tag("facebook.png", :alt => "facebook") %></a></li>
                <li class='email'><a href="https://goo.gl/BtIGBV"><%= image_tag("email.png", :alt => "email") %></a></li>
              </ul>
            </nav>
          </div>
        </div>   
      </div>
    </div>
  </body>
</html>
