<%= f.nested_fields_for :accounts do |account| %>
  <div class="col-md-12 form-group">
    <%= account.label "哪一家銀行" %>
    <%= account.text_field :bank , :class => 'form-control text-center' , placeholder: "請輸入銀行名稱" %>
  </div>
  <div class="col-md-12 form-group">
    <%= account.label "戶口類型" %>
    <%= account.text_field :account_type , :class => 'form-control text-center' , placeholder: "請輸入戶口類型" %>
  </div>
  <div class="form-group col-md-12 form-heir">
    <%= label_tag "資產指定給誰" %> <br>
    <%= render :partial => 'heirs/heir' , :locals => {:f => account} %>
  </div>
  <div class="col-md-12 form-group text-center">
    <%= account.check_box :_destroy %> <br>
    <%= account.label :_destroy , :class => 'border-radius wish-btn' do %>
      <span class="glyphicon glyphicon-minus"></span>移除此資產
    <% end %>
  </div>
<% end %>