<%= f.nested_fields_for :stock_portfolios do |stock_portfolio| %>
  <div class="col-md-12 form-group">
    <%= stock_portfolio.label "哪一家銀行" %>
    <%= stock_portfolio.text_field :bank , :class => 'form-control text-center' , placeholder: "請輸入銀行名稱" %>
  </div>
  <div class="form-group col-md-12 form-heir">
    <%= label_tag "資產指定給誰" %> <br>
    <%= render :partial => 'heirs/heir' , :locals => {:f => stock_portfolio} %>
  </div>
  <div class="col-md-12 form-group text-center">
    <%= stock_portfolio.check_box :_destroy %> <br>
    <%= stock_portfolio.label :_destroy , :class => 'border-radius wish-btn' do %>
      <span class="glyphicon glyphicon-minus"></span>移除此資產
    <% end %>
  </div>
<% end %>